/* ------------- confirmation modal btn ------------- */
.delete-btn,
.status-btn {
  width: 100px;
  height: 40px;
  border-radius: 8px;
  background-color: #212121;
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition: all 0.4s ease;
  overflow: hidden;
  position: relative;
}

.btn-light {
  height: 40px;
  border-radius: 8px;
}

.svgIcon {
  width: 20px;
  transition: all 0.5s ease;
}

.svgIcon.toggle {
  width: 25px;
}

.svgIcon path {
  fill: white !important;
}

.delete-btn:hover,
.status-btn:hover {
  width: 100px;
  border-radius: 50px;
  background-color: #ef4444 !important;
  align-items: center;
  transition: all 0.5s ease;
}

.status-btn-on .svgIcon,
.status-btn-active .svgIcon {
  transform: rotate(0deg);
}

.status-btn-off .svgIcon,
.status-btn-deactive .svgIcon {
  transform: rotate(180deg);
}

.status-btn-on:hover,
.status-btn-active:hover {
  background-color: #279f52 !important;
}
.status-btn-off:hover,
.status-btn-deactive:hover {
  background-color: #ef4444 !important;
}

.delete-btn:hover .svgIcon,
.status-btn:hover .svgIcon {
  width: 70px;
  transform: translateY(45%);
  transition: all 0.4s ease;
}

.status-btn:hover .svgIcon {
  transform: translateY(40%);
}

.status-btn-off:hover .svgIcon,
.status-btn-deactive:hover .svgIcon {
  transform: rotate(180deg) translateY(-35%);
}

.delete-btn::before,
.status-btn::before {
  position: absolute;
  top: -28px;
  content: "Yes, Delete";
  color: white;
  font-size: 12px !important;
  transition: all 0.4s ease;
}

.status-btn-on::before {
  top: -25px;
  content: "Yes, Publish";
}

.status-btn-active::before {
  top: -25px;
  content: "Yes, Activate";
}

.status-btn-off::before {
  top: -25px;
  content: "Yes, Draft";
}

.status-btn-deactive::before {
  top: -25px;
  content: "Yes, Deactivate";
}

.delete-btn:hover::before,
.status-btn:hover::before {
  font-size: 13px;
  opacity: 1;
  transform: translateY(30px);
  transition: all 0.4s ease;
}

/* ------------- Table action btn ------------- */
.btn-action {
  padding: 3px 8px;
  border: none;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.btn-action:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.btn-view,
.btn-success {
  background-color: #2ebb62;
  color: #fff;
  transition: all 0.4s ease;
}

.btn-edit,
.btn-warning {
  background-color: #ffd93d;
  color: #000;
  transition: all 0.4s ease;
}

.btn-delete {
  background-color: #ff6b6b;
  color: #fff;
}
