/* ------------- delete btn ------------- */
.delete-btn {
  width: 100px;
  height: 40px;
  border-radius: 8px;
  background-color: #212121;
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition: all 0.4s ease;
  overflow: hidden;
  position: relative;
}

.svgIcon {
  width: 20px;
  transition: all 0.5s ease;
}

.svgIcon path {
  fill: white !important;
}

.delete-btn:hover {
  width: 100px;
  border-radius: 50px;
  background-color: #ef4444 !important;
  align-items: center;
  transition: all 0.5s ease;
}

.delete-btn:hover .svgIcon {
  width: 70px;
  transform: translateY(45%);
  transition: all 0.4s ease;
}

.delete-btn::before {
  position: absolute;
  top: -28px;
  content: "Yes, Delete";
  color: white;
  font-size: 12px !important;
  transition: all 0.4s ease;
}

.delete-btn:hover::before {
  font-size: 13px;
  opacity: 1;
  transform: translateY(30px);
  transition: all 0.4s ease;
}

/* ------------- update btn ------------- */
