/* ------------- delete btn ------------- */
.delete-btn,
.status-btn {
  width: 100px;
  height: 40px;
  border-radius: 8px;
  background-color: #212121;
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition: all 0.4s ease;
  overflow: hidden;
  position: relative;
}

.btn-light {
  height: 40px;
  border-radius: 8px;
}

.svgIcon {
  width: 20px;
  transition: all 0.5s ease;
}

.svgIcon.toggle {
  width: 25px;
}

.svgIcon path {
  fill: white !important;
}

.delete-btn:hover,
.status-btn:hover {
  width: 100px;
  border-radius: 50px;
  background-color: #ef4444 !important;
  align-items: center;
  transition: all 0.5s ease;
}

.status-btn-on:hover {
  background-color: #279f52 !important;
}
.status-btn-off:hover {
  background-color: #ef4444 !important;
}

.delete-btn:hover .svgIcon,
.status-btn:hover .svgIcon {
  width: 70px;
  transform: translateY(45%);
  transition: all 0.4s ease;
}

.status-btn:hover .svgIcon {
  transform: translateY(40%);
}

.delete-btn::before,
.status-btn::before {
  position: absolute;
  top: -28px;
  content: "Yes, Delete";
  color: white;
  font-size: 12px !important;
  transition: all 0.4s ease;
}

.status-btn-on::before {
  top: -25px;
  content: "Yes, Publish";
}

.status-btn-off::before {
  top: -25px;
  content: "Yes, Unpublish";
}

.delete-btn:hover::before,
.status-btn:hover::before {
  font-size: 13px;
  opacity: 1;
  transform: translateY(30px);
  transition: all 0.4s ease;
}
