:root {
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #22c55e;
  --danger: #ef4444;
  --warning: #ffd93d;
  --info: #3b82f6;

  --primary-subtle: #cfe2ff;
  --secondary-subtle: #e2e3e5;
  --success-subtle: #d1fae5;
  --danger-subtle: #fee2e2;
  --warning-subtle: #fff3c5;
  --info-subtle: #cff4fc;

  --primary-hover: #0056b3;
  --secondary-hover: #545b62;
  --success-hover: #1e8449;
  --danger-hover: #c82333;
  --warning-hover: #e0a800;
  --info-hover: #2563eb;
}

/* ----------- bootstrap primary color ----------- */
.btn-primary,
.bg-primary {
  background-color: var(--primary) !important;
}
.btn-primary:hover {
  background-color: var(--primary-hover) !important;
}
.btn-outline-primary {
  border-color: var(--primary) !important;
  color: var(--primary);
}
.btn-outline-primary:hover {
  background-color: var(--primary) !important;
  color: #fff !important;
}
.text-primary {
  color: var(--primary) !important;
}
.bg-primary-subtle {
  background-color: var(--primary-subtle) !important;
}

/* ----------- bootstrap secondary color ----------- */
.btn-secondary,
.bg-secondary {
  background-color: var(--secondary) !important;
}
.btn-secondary:hover {
  background-color: var(--secondary-hover) !important;
}
.btn-outline-secondary {
  border-color: var(--secondary) !important;
  color: var(--secondary);
}
.btn-outline-secondary:hover {
  background-color: var(--secondary) !important;
  color: #fff !important;
}
.text-secondary {
  color: var(--secondary) !important;
}
.bg-secondary-subtle {
  background-color: var(--secondary-subtle) !important;
}

/* ----------- bootstrap success color ----------- */
.btn-success,
.bg-success {
  background-color: var(--success) !important;
}
.btn-success:hover {
  background-color: var(--success-hover) !important;
}
.btn-outline-success {
  border-color: var(--success) !important;
  color: var(--success);
}
.btn-outline-success:hover {
  background-color: var(--success) !important;
  color: #fff !important;
}
.text-success {
  color: var(--success) !important;
}
.bg-success-subtle {
  background-color: var(--success-subtle) !important;
}

/* ----------- bootstrap danger color ----------- */
.btn-danger,
.bg-danger {
  background-color: var(--danger) !important;
}
.btn-danger:hover {
  background-color: var(--danger-hover) !important;
}
.btn-outline-danger {
  border-color: var(--danger) !important;
  color: var(--danger);
}
.btn-outline-danger:hover {
  background-color: var(--danger) !important;
  color: #fff !important;
}
.text-danger {
  color: var(--danger) !important;
}
.bg-danger-subtle {
  background-color: var(--danger-subtle) !important;
}

/* ----------- bootstrap warning color ----------- */
.btn-warning {
  background-color: var(--warning) !important;
}
.btn-warning:hover {
  background-color: var(--warning-hover) !important;
}
.btn-outline-warning {
  border-color: var(--warning) !important;
  color: var(--warning);
}
.btn-outline-warning:hover {
  background-color: var(--warning) !important;
  color: #fff !important;
}
.text-warning {
  color: var(--warning) !important;
}
.bg-warning-subtle {
  background-color: var(--warning-subtle) !important;
}
