@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
    font-family: "Skate";
    src: url("../../font/skate.ttf") format("truetype");
}

:root {
    --primary-color: #8b72ee;
    --secondary-color: #ebedfb;
}

* {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    margin-top: 20px;
    background: #f1f1f1;
    border-radius: 10px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

body {
    background-color: #f8f9fa;
    font-family: "Roboto", sans-serif;
}

.main-content {
    flex: 1;
    padding: 20px;
    transition: all 0.4s ease;
}

.nav-link {
    color: var(--primary-color);
}

.course-card {
    background-color: var(--secondary-color);
    border-radius: 16px;
    border: none;
    padding: 20px;
    cursor: pointer;
    height: 100%;
    transition: transform 0.4s ease;
}

.course-card:hover {
    transform: translateY(-5px);
}

.avatar-group {
    display: flex;
    align-items: center;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: -8px;
    border: 2px solid white;
}

.progress-card {
    background: white;
    border-radius: 16px;
    padding: 16px;
    margin-bottom: 16px;
}

.progress-card.purple {
    background: var(--primary-color);
    color: white;
}

.courses-table > thead {
    border-bottom: 2px solid #212121;
}

.courses-table > thead > tr > th {
    font-weight: 550;
    padding: 8px 0;
    color: #212121;
}

.courses-table > tbody > tr > td {
    color: #333;
}

.courses-table td {
    padding: 12px 8px;
    vertical-align: middle;
}

.course-icon {
    background-color: var(--secondary-color);
    width: 40px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
}

.more-btn {
    background-color: var(--primary-color);
    color: #fff;
    width: 80%;
}

/* ----------------- progress card ----------------- */
.progress-container {
    position: relative;
    width: 50px;
    height: 50px;
}

.progress-circle {
    transform: rotate(-90deg);
    width: 100%;
    height: 100%;
}

.progress-circle circle {
    fill: none;
    stroke-width: 8;
    stroke-linecap: round;
}

.progress-circle .background {
    stroke: #bbaeeb;
}

.progress-circle .progress {
    stroke: #fff;
    transition: stroke-dasharray 0.5s ease;
}

.progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    color: #eee;
}

/* ----------------- request modal ----------------- */
.instructor-request {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.instructor-request button {
    padding-left: 2.5rem !important;
}

.instructor-request img {
    position: absolute;
    top: -15px;
    left: 15%;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 5px;
    background: #f8f9fa;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}

#instructorRequestModal .modal-content {
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    border: none;
}

#instructorRequestModal .modal-header {
    border-radius: 15px 15px 0 0;
    padding: 1rem 1.5rem;
}

#instructorRequestModal .modal-title {
    font-weight: 600;
}

#instructorRequestModal .modal-body {
    padding: 2rem;
    background: #fff;
    max-height: 70vh;
    overflow-y: auto;
}

#instructorRequestModal .form-label {
    font-weight: 500;
    color: #333;
}

#instructorRequestModal .form-select,
#instructorRequestModal .form-control {
    border-radius: 8px;
    border: 1px solid #d1d3e2;
    padding: 0.75rem;
    transition: border-color 0.3s ease;
}

#instructorRequestModal .form-select:focus,
#instructorRequestModal .form-control:focus {
    border-color: #4e73df;
    box-shadow: 0 0 5px rgba(78, 115, 223, 0.3);
}

#instructorRequestModal .form-control[readonly] {
    background-color: #ededed;
    opacity: 1;
}

#instructorRequestModal .btn-primary,
.instructor-request .btn-primary{
    background: #4e73df;
    border: none;
    border-radius: 8px;
    padding: 0.75rem 1.5rem;
    font-weight: 600;
    transition: background 0.3s ease;
}

#instructorRequestModal .btn-primary:hover,
.instructor-request .btn-primary:hover {
    background: #375ec7;
}

#instructorRequestModal .text-danger {
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

#instructorRequestModal .container {
    max-width: 800px;
}

#instructorRequestModal .file-preview {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #555;
}

/* loading indicator */
.loader {
    display: none;
    width: 18px;
    height: 18px;
    overflow: hidden;
    transform: rotate(-90deg);
    transform-origin: center;
    --active: transparent;
    --track: #fff;
    --duration: 10s;
    animation: spin 5s ease-in-out infinite;
}

@keyframes spin {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}

.active {
    stroke: var(--active);
    stroke-linecap: round;
    stroke-dashoffset: 360;
    animation: active-animation var(--duration) ease-in-out infinite;
}

@keyframes active-animation {
    0% {
        stroke-dasharray: 0 0 0 360 0 360;
    }
    12.5% {
        stroke-dasharray: 0 0 270 90 270 90;
    }
    25% {
        stroke-dasharray: 0 270 0 360 0 360;
    }
    37.5% {
        stroke-dasharray: 0 270 270 90 270 90;
    }
    50% {
        stroke-dasharray: 0 540 0 360 0 360;
    }
    50.001% {
        stroke-dasharray: 0 180 0 360 0 360;
    }
    62.5% {
        stroke-dasharray: 0 180 270 90 270 90;
    }
    75% {
        stroke-dasharray: 0 450 0 360 0 360;
    }
    87.5% {
        stroke-dasharray: 0 450 270 90 270 90;
    }
    87.501% {
        stroke-dasharray: 0 90 270 90 270 90;
    }
    100% {
        stroke-dasharray: 0 360 1 360 0 360;
    }
}

.track {
    stroke: var(--track);
    stroke-linecap: round;
    stroke-dashoffset: 360;
    animation: track-animation var(--duration) ease-in-out infinite;
}

@keyframes track-animation {
    0% {
        stroke-dasharray: 0 20 320 40 320 40;
    }
    12.5% {
        stroke-dasharray: 0 290 50 310 50 310;
    }
    25% {
        stroke-dasharray: 0 290 320 40 320 40;
    }
    37.5% {
        stroke-dasharray: 0 560 50 310 50 310;
    }
    37.501% {
        stroke-dasharray: 0 200 50 310 50 310;
    }
    50% {
        stroke-dasharray: 0 200 320 40 320 40;
    }
    62.5% {
        stroke-dasharray: 0 470 50 310 50 310;
    }
    62.501% {
        stroke-dasharray: 0 110 50 310 50 310;
    }
    75% {
        stroke-dasharray: 0 110 320 40 320 40;
    }
    87.5% {
        stroke-dasharray: 0 380 50 310 50 310;
    }
    100% {
        stroke-dasharray: 0 380 320 40 320 40;
    }
}