@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
  font-family: "Skate";
  src: url("../../font/skate.ttf") format("truetype");
}

:root {
  --primary-color: #8b72ee;
  --secondary-color: #ebedfb;
}

* {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  margin-top: 20px;
  background: #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

body {
  background-color: #f8f9fa;
  font-family: "Roboto", sans-serif;
}

.nav-link {
  color: var(--primary-color);
}

.course-card {
  background-color: var(--secondary-color);
  border-radius: 16px;
  border: none;
  padding: 20px;
  cursor: pointer;
  height: 100%;
  transition: transform 0.4s ease;
}

.course-card:hover {
  transform: translateY(-5px);
}

.avatar-group {
  display: flex;
  align-items: center;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: -8px;
  border: 2px solid white;
}

.progress-card {
  background: white;
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 16px;
}

.progress-card.purple {
  background: var(--primary-color);
  color: white;
}

.courses-table > thead {
  border-bottom: 2px solid #212121;
}

.courses-table > thead > tr > th {
  font-weight: 550;
  padding: 8px 0;
  color: #212121;
}

.courses-table > tbody > tr > td {
  color: #333;
}

.courses-table td {
  padding: 12px 8px;
  vertical-align: middle;
}

.course-icon {
  background-color: var(--secondary-color);
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.more-btn {
  background-color: var(--primary-color);
  color: #fff;
  width: 80%;
}

/* ----------------- progress card ----------------- */
.progress-container {
  position: relative;
  width: 50px;
  height: 50px;
}

.progress-circle {
  transform: rotate(-90deg);
  width: 100%;
  height: 100%;
}

.progress-circle circle {
  fill: none;
  stroke-width: 8;
  stroke-linecap: round;
}

.progress-circle .background {
  stroke: #bbaeeb;
}

.progress-circle .progress {
  stroke: #fff;
  transition: stroke-dasharray 0.5s ease;
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  color: #eee;
}
